@media only screen and (min-width: 1300px) {
  .full-width-page {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.full-width-page {
  margin-top: 160px;
  font-family: var(--fontFamily) !important;
}

.full-width-page > p {
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .full-width-page > p {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .full-width-page {
    margin-top: 140px;
  }
}

.container-fluid {
  min-height: calc(100vh - 158px);
}

footer {
  display: flex !important;
  background-color: #021943;
  justify-content: space-between;
  padding: 40px 20px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer > div {
  display: flex;
  flex-direction: column;
}

footer > div > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer > div > p {
  color: white;
  font-family: var(--fontFamily) !important;
}

footer > div img {
  width: 30px;
}
