.link_div {
  box-shadow: -2px 2px 10px 0px #6d6d6d;

  width: 150px;
  height: 130px;
  padding: 10px 15px;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link_div h4 {
  width: 150px;
  overflow-wrap: break-word;
  font-size: 14px;
  margin-top: -40px;
  text-align: center;
  color: black;
}

.link_div {
  text-decoration: none !important;
}

.link_div p {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}

.link_div .abbr {
  color: #887373;
  margin-bottom: 0;
}

.link_div img:not(.flag) {
  width: 75px;
}

.link_div img.flag {
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
}

.links_container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  row-gap: 60px;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: min(1000px, calc(100% - 60px));
}

@media only screen and (max-width: 768px) {
  .links_container {
    gap: 30px;
  }
}

@media only screen and (max-width: 410px) {
  .link_div {
    width: 100px;
    height: 100px;
  }

  .link_div p {
    color: white;
    font-size: 16px;
  }

  .link_div img {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 15px;
  }

  .special_link_div img {
    height: 25px;
    left: 10px;
  }
}
